* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

h1, h2 {
  color: #00252e;
}

header {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
header nav {
  margin: 2rem 0 6.6rem 0;
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
header nav .secundary-btn {
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0rem 2rem 0.5rem;
}
header nav figure {
  display: grid;
  place-items: center;
  width: 100px;
  margin: 0;
}
header nav figure img {
  width: 100%;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div .header-text {
  margin: 0 3rem;
}
header div .header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 2.7rem;
  font-weight: 600;
}
header div .header-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.65rem;
  margin-bottom: 3.6rem;
  font-weight: 300;
}
header div figure {
  width: 80vw;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
header div figure img {
  width: 100%;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  background-color: #ff52bf;
  padding: 1rem 3rem 1.4rem 3rem;
  border-radius: 50px;
  color: white;
  border: none;
  box-shadow: 0 0.2em 0.5em 0em rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-bottom: 3rem;
}

.card {
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
  padding: 1rem 3rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 4rem 2.2rem;
}
.card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.card p {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
  font-size: 1.5rem;
  margin: 1.3rem 0;
  margin-bottom: 3rem;
}
.card figure {
  width: 23rem;
  margin: 3.5rem 1rem;
}
.card figure img {
  width: 100%;
}

#third {
  padding: 1rem 3.5rem;
}

.last_card {
  top: 70px;
  margin: 0 1.5rem;
  padding: 1.9rem 1.5rem 0.7rem;
  position: relative;
  z-index: 10;
}
.last_card h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.last_card .btn {
  font-size: 1.5rem;
  width: 60%;
}

footer {
  width: 100%;
  padding: 8rem 1.7rem 0;
  position: absolute;
  background-color: #00252e;
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
footer figure {
  margin-top: 6rem;
  width: 17rem;
}
footer figure img {
  width: 100%;
}
footer .info .contact .contact-info {
  display: flex;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  font-size: 2.6rem;
  padding-right: 0.8rem;
}
footer .info .contact .contact-info figure {
  margin-top: 0;
  width: 1.8rem;
  margin-right: 1.8rem;
}
footer .info .contact .contact-info figure img {
  width: 100%;
}
footer .info .contact #local {
  width: 3.7rem;
}
footer .info .list {
  margin-top: 4rem;
}
footer .info .list ul {
  font-size: 3rem;
  list-style: none;
}
footer .info .list ul li {
  margin-bottom: 2rem;
}
footer .info .social {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer .info .social div {
  margin: 0;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 50%;
}
footer .info .social div i {
  font-size: 1.2rem;
}
footer .info .social div:hover {
  border: 1px solid #ff52bf;
  cursor: pointer;
}
footer .info .social div:hover i {
  color: #ff52bf;
}
footer span {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

header {
  padding: 2.3rem 7.5rem;
  background-image: url("../images/bg-hero-desktop.svg");
  margin-bottom: 12rem;
}
header nav {
  margin-bottom: 4rem;
}
header nav figure {
  width: 20rem;
}
header nav .secundary-btn {
  font-size: 2rem;
  padding: 0.5rem 5.5rem 1rem;
}
header nav .secundary-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
header div .header-text {
  margin: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
header div .header-text h1 {
  font-size: 4rem;
}
header div .header-text p {
  font-size: 1.8rem;
}
header div .header-text button {
  width: 55%;
  padding: 1.8rem 3rem 2.3rem;
  font-size: 1.35rem;
}
header div figure {
  width: 53%;
}

.card {
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 4rem 9rem 2rem;
}
.card div {
  margin-left: 10rem;
  width: 50%;
  text-align: left;
}
.card div h2 {
  font-size: 3rem;
}
.card div p {
  font-size: 2rem;
}
.card figure {
  margin-left: 12rem;
  width: 45rem;
}

.card:nth-child(2) {
  flex-direction: row;
}

.card:last-child {
  margin: auto;
  flex-direction: column;
  padding: 3.2rem 9rem 2rem;
  width: 55%;
}
.card:last-child h2 {
  font-size: 3.2rem;
}
.card:last-child button {
  width: 70%;
  padding: 2rem 3rem 2.4rem;
  font-size: 3.5rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

footer {
  padding: 14rem 10rem 14rem 14rem;
}
footer figure {
  width: 22rem;
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .info .contact {
  width: 400px;
  display: flex;
  flex-direction: column;
}
footer .info .contact .contact-info figure {
  margin-right: 2.5rem;
}
footer .info .list {
  margin-top: 1.7rem;
  width: 30%;
}
footer .info .list ul {
  display: grid;
  grid-template-rows: repeat(3, 40px);
  grid-auto-flow: column;
  grid-auto-columns: 23rem;
}
footer .info .list ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .info .social {
  margin-right: 13rem;
  margin-top: 1.7rem;
}
footer .info .social div:hover {
  border: 1px solid #ff52bf;
}
footer span {
  text-align: right;
}

/*# sourceMappingURL=desktop.css.map */
