* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

header {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
header nav {
  margin: 2rem 0 6.6rem 0;
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
header nav .secundary-btn {
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.7rem 0rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0rem 2rem 0.5rem;
}
header nav figure {
  display: grid;
  place-items: center;
  width: 100px;
  margin: 0;
}
header nav figure img {
  width: 100%;
}
header .header-text {
  margin: 0 3rem;
}
header .header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 2.7rem;
  font-weight: 600;
}
header .header-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.65rem;
  margin-bottom: 3.6rem;
  font-weight: 300;
}
header figure {
  width: 80vw;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
header figure img {
  width: 100%;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  background-color: #ff52bf;
  padding: 1rem 3rem 1.4rem 3rem;
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 0 0.5em 1em 0em rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 3rem;
}

.box {
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.7rem 0rem rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 4rem 2.2rem;
}
.box h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.box p {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
  font-size: 1.5rem;
  margin: 1.3rem 0;
  margin-bottom: 3rem;
}
.box figure {
  width: 23rem;
  margin: 3.5rem 1rem;
}
.box figure img {
  width: 100%;
}

#third {
  padding: 1rem 3.5rem;
}

.last_box {
  top: 70px;
  margin: 0 1.5rem;
  padding: 1.9rem 1.5rem 0.7rem;
  position: relative;
  z-index: 10;
}
.last_box h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.last_box .btn {
  font-size: 1.5rem;
  width: 60%;
}

footer {
  width: 100%;
  padding: 8rem 1.7rem 0;
  position: absolute;
  background-color: #00252e;
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
footer figure {
  margin-top: 6rem;
  width: 17rem;
}
footer figure img {
  width: 100%;
}
footer .contact-info {
  display: flex;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  font-size: 2.6rem;
  padding-right: 0.8rem;
}
footer .contact-info figure {
  margin-top: 0;
  width: 1.8rem;
  margin-right: 1.8rem;
}
footer .contact-info figure img {
  width: 100%;
}
footer #local {
  width: 3.7rem;
}
footer div {
  margin-top: 4rem;
}
footer div ul {
  font-size: 3rem;
  list-style: none;
}
footer div ul li {
  margin-bottom: 2rem;
}
footer .social {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer .social div {
  margin: 0;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 50%;
}
footer .social div:hover {
  border: 1px solid #ff52bf;
}
footer span {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=mobile.css.map */
